# Generated using the requirements script on April 20, 2025

cffi==1.17.1
charset_normalizer==3.4.1
cryptography==46.0.7
#greenlet                       ==> supported version depends on gcc version
lxml==6.1.0
MarkupSafe==3.0.2
msgpack==1.1.0
sqlalchemy==2.0.40
tornado==6.5.5
